<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Page</title>
</head>
<body>

<h2>Django</h2>

<p>
  Django is an extremely popular and fully featured server-side web framework, written in Python. <br>
    It provides a set of tools and functionalities that solves many problems associated with web <br>
    development such as user sign up, Authorization ,Database Access security features, template design, <br>
    URL Mapping and much more. Django helps us to develop secure and reliable web application in <br>
    quick and standardized way without having to reinvent the wheel.
</p>

</body>
</html>

