<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information</title>
</head>
<body>

<h2>Fill User Details</h2>

<form method="post">
  {% csrf_token %}

  <label>Name:</label>
  <input type="text" name="name">

  <br>

  <label>Email:</label>
  <input type="email" name="email">

  <br>

  <label>Address:</label>
  <input type="text" name="addr">

  <br>

  <label>Phone:</label>
  <input type="number" name="phone">

  <br>

  <input type="submit" value="Add to Profile">

</form>

</body>
</html>