<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Card</title>
    {% load static %}
  <link rel="stylesheet" href="{% static 'css/profilecard.css' %}">
</head>
<body>

{% for i in profile %}
<div class="profile-card">
    <div class="profile-header">
        <h2>{{i.Name}}</h2>
    </div>
    <div class="profile-details">
        <p><strong>Address: </strong>{{i.Address}}</p>
        <p><strong>Email: </strong>{{i.Email}}</p>
        <p><strong>Phone: </strong>{{i.Phone}}</p>
    </div>
</div>
{% endfor %}

<p><a href="{% url 'info' %}">Create Profile</a></p>

</body>
</html>