<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Static Content</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/1.static_file.css' %}">
    <script src="{% static 'js/1.static_file.js' %}"></script>
</head>
<body>

<h2>DJANGO MVC - MVT Pattern:</h2>

    <p class="p1">
        The Model-View-Template (MVT) is slightly different from MVC. In fact the <br>
        main difference between the two patterns is that Django itself takes care <br>
        of the Controller part (Software Code that controls the interactions <br>
        between the Model and View), leaving us with the template. The template <br>
        is a HTML file mixed with Django Template Language (DTL).
    </p>

  <p class="p2">
      Model: Handles data access, manipulation, and validation. <br>
      View: Processes requests, retrieves data from models, and sends data to templates for rendering. <br>
      Template: Renders HTML with dynamic content using data provided by views.
  </p>

<img src="{% static 'Image/img.png' %}" alt="mvt" width="500" height="350">
 <br>
<button onclick="abc()">Download</button>

</body>
</html>

