body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #fffff;
}

.profile-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 0 10px rgba(0,0,0,0,1);
    margin: 20px;
    left: 20px;
    top: 20px;
}

.profile-header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.profile-details {
    padding: 20px;
    margin: 5px 0;
}

a {
    text-decoration-line: none;
    color: green;
}